*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #6E0808;
}
strong{
    color: #FFEFEF;
}
.Logo{
    border-radius: 34px ;
}
.botoes{
    width: 283px;
    height: 70px;
    background-color: black;
    border: solid 8px;
    border-color: white;
}
span{
    color: white;
    font-family: 'Jaini', 'Courier New', Courier;
    font-size: 25px;
}
.secao1{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.secao2{
    height: 100vh;
    display: flex;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.secao3{
    height: 500px;
    display: flex;
    text-align: center;
}
.secao4{
    height: 100px;
    display: flex;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.div1{
    height: 450px;
}
.div2{
    height: 100px;
}
.div3{
    display: grid;
    grid-template-columns: 50%;
    margin-left: 350px;
    margin-top: -200px;
}
.div4{
    width: 550px;
    justify-content: left;
}